svg {
    font: 12px sans-serif;
  }

#circle {
    background: #f00;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
}
circleSVG {
  transform: translate(1500px, 500px)
}
.tooltip {
  transform: translateX(75px)
}
  
  .unselected path {
    fill: none;
    stroke: rgba(221, 221, 221, 0.897); 
    shape-rendering: crispEdges;
  }
  
  .selected path {
    fill: none;

    stroke: rgba(50, 156, 175, 0.411);
  
  }
  
  .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
  }
  
  #b1 {
    float:right;
  }